<h2 class="center">сЃдсЃ╝сѓХсЃ╝ТЃЁта▒</h2>
<div class="center">
  <a class="button" href="/users/new">Тќ░УдЈуЎ╗жї▓</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>тљЇтЅЇ</th>
      <th>сЃАсЃ╝сЃФсѓбсЃЅсЃгсѓ╣</th>
      <th>УфЇУе╝сѓ│сЃ╝сЃЅ</th>
      <th>уиежЏє</th>
      <th>тЅіжЎц</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td>
        <a href="<%=`/users/${user._id}`%>">
          <%= user.fullName %>
        </a>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.zipCode %>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/edit`%>">
          РюЈ№ИЈ
        </a>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>­ЪЌЉ</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
