<h1 class="center">ユーザー
  <%= user.fullName %>
</h1>

<table class="table">
  <tr>
    <th>名前</th>
    <td>
      <%= user.fullName %>
    </td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td>
      <%= user.email%>
    </td>
  </tr>
  <tr>
    <th>認証コード</th>
    <td>
      <%= user.zipCode%>
    </td>
  </tr>
  <tr>
    <th>Password</th>
    <td>********</td>
  </tr>
</table>

<% if(user.subscribedAccount !== undefined) { %>
<h4 class="center">
  <a href="<%=`/subscribers/${user.subscribedAccount}`%>">
    subscribed account </a>.
</h4>
<% } %>
<div class="center">
  <a class="button" href="<%=`/users/${user._id}/edit`%>">
    編集
  </a>
</div>
<div class="center">
  <a class="button" href="<%= `/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>削除</a>
</div>
<div class="center">
  <a class="button" href="/users">一覧画面へ戻る</a>
</div>
